# Web and APi
fastapi
uvicorn

# db
sqlalchemy
asyncpg
alembic

# Async HTTP Client
aiohttp

# Task
celery
redis

# Validation & Settings
pydantic-settings
python-dotenv

# Testing
pytest
pytest-asyncio
httpx